<h2>Listing tags</h2>
<div class='content'>
<table>
  

<% @tags.each do |tag| %>
  <tr>
    
    <td><%= link_to tag.body, tag %></td>
   <% if (current_user)&&(current_user.id<5) %>
    <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if (current_user)&&(current_user.id<5) %>
<%= link_to 'New Tag', new_tag_path %>
<%end%>
</div>
<span class='back'>
<%= link_to 'Main', quests_path %>
</span>